version: '3.8'

services:
  web1:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: web1
    hostname: web1
    networks:
      app_network:
        ipv4_address: 172.20.0.11
    ports:
      - "30221:22"  # SSH ansible Conncetion to web1
    volumes:
      - web1_data:/var/www
    privileged: true
    restart: unless-stopped

  web2:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: web2
    hostname: web2
    networks:
      app_network:
        ipv4_address: 172.20.0.12
    ports:
      - "30222:22"  # SSH ansible Conncetion to web2
    volumes:
      - web2_data:/var/www
    privileged: true
    restart: unless-stopped

  lb:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: lb
    hostname: lb
    networks:
      app_network:
        ipv4_address: 172.20.0.10
    ports:
      - "30220:22"    # SSH ansible Conncetion to lb
      - "80:80"      # HAProxy HTTP
      - "8404:8404"  # HAProxy Stats
    volumes:
      - lb_data:/etc/haproxy
    privileged: true
    restart: unless-stopped

  db:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: db
    hostname: db
    networks:
      app_network:
        ipv4_address: 172.20.0.100
    ports:
      - "30223:22"  # SSH ansible Conncetion to db
    volumes:
      - db_data:/tmp/data
    privileged: true
    restart: unless-stopped

networks:
  app_network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/24

volumes:
  web1_data:
  web2_data:
  lb_data:
  db_data: