---
- name: Fetch App code
  ansible.builtin.git:
    repo: '{{ app_repo }}'
    dest: '{{ app_directory }}'
    version: '{{ app_repo_version }}'

- name: Install APT dependencies
  ansible.builtin.apt:
    name: '{{ apt_packages }}'
    state: present
    update_cache: yes

- name: Install Python dependencies
  ansible.builtin.pip:
    requirements: '{{ app_directory }}/requirements.txt'
    executable: '{{ pip_binary }}'

- name: Create webapp service
  ansible.builtin.template:
    src: webapp.service.j2
    dest: '/etc/systemd/system/{{ app_name }}.service'
    mode: '0644'
  notify: Reload systemd

- name: Reload systemd daemon
  ansible.builtin.systemd:
    daemon_reload: yes