---
- name: Build and Run MySQL Server
  hosts: db
  become: yes
  roles:
    - ../roles/db

- name: Setup and Deploy Flask webapp
  hosts: webservers
  become: yes
  roles:
    - ../roles/webserver

- name: Setup and Deploy HAProxy Load Balancer for Web Servers
  hosts: loadbalancers
  become: yes
  roles:
    - ../roles/loadbalancer
