---
# tasks file for loadbalancer

- name: Install HAProxy
  ansible.builtin.apt:
    name: haproxy
    state: present
  become: true
  when: ansible_os_family == "Debian"

- name: Copy HAProxy config
  ansible.builtin.template:
    src: haproxy.cfg.j2
    dest: /etc/haproxy/haproxy.cfg
    owner: root
    group: root
    mode: '0644'
  become: true

- name: Ensure HAProxy service is enabled and running
  ansible.builtin.service:
    name: haproxy
    state: started
    enabled: true
  become: true
